.pop
    position: fixed
    z-index: 997
    left: 0
    top: 0
    overflow: hidden
    width: 100%
    height: 100%
    animation: fadein .5s
    background: rgba(0, 0, 0, 0.5)
    .content
        position: absolute
        left: 20%
        top: 20%
        width: 60%
        height: 60%
        padding: 20px 0
        background-color: $sub-color
    .confirm
        position: absolute
        left: 35%
        top: 35%
        width: 30%
        height: 30%
        padding: 20px
        background-color: $sub-color
        .text
            width: 100%
            height: 80%
        .btn
            width: 100%
            height: 20%
    .alter
        position: absolute
        left: 45%
        top: 45%
        width: 10%
        height: 10%
        padding: 10px
        background-color: $sub-color
        .text
            width: 100%
            height: 100%