.pop
    position: fixed
    z-index: 997
    left: 0
    top: 0
    overflow: hidden
    width: 100%
    height: 100%
    animation: fadein .5s
    background: rgba(0, 0, 0, 0.5)
    .content
        position: absolute
        left: 20%
        top: 20%
        width: 60%
        height: 60%
        padding: 20px 0
        background-color: $sub-color
    .confirm
        position: absolute
        left: 35%
        top: 35%
        width: 25%
        height: 30%
        padding: 30px
        background-color: $sub-color
        .text
            padding-top: 30px
            width: 100%
            height: 60%
            color: $color
            font-size: 24px
        .btn
            position: relative
            width: 100%
            height: 20%
            .ok
                position: absolute
                top: 0
                left: 0
                padding: 10px
                color: $sub-color
                background-color: $color
            .no
                position: absolute
                margin-left: 80px
                padding: 10px
                color: $sub-color
                background-color: $color
    .alter
        position: absolute
        left: 45%
        top: 45%
        width: 10%
        height: 10%
        padding: 10px
        background-color: $sub-color
        .text
            width: 100%
            height: 100%