$header-h = 64px /* header高度 */

.user
    padding-right: 20px
    color: $sub-color
    background-color: $color
    .content
        float: right
        .text
            height: $header-h
        .exit
            display: inline-block
            margin: 0 10px
            width: 30px
            height: $header-h
            background: url(exit.png) no-repeat center;
            cursor: pointer